*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.bar{

    color: #f5f6fa ;
    height: 50px;
    background-color:gray ;
    font-family: 'Roboto', sans-serif;
    line-height: 35px;
    
}
#name{
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;

}
.left{
    float: left;
    margin-left:100px;

}
.right{
    float: right
}
li{
    list-style: none;
    float: left;
    margin: 5px;
    display:flex
    

}
.thingys{
    display: flex;
    justify-content: space-between;
    align-items: center;  
    width: 80%; 
    margin: auto;

}
.box{
    background-color: cadetblue;
    padding: 20px;
    border-radius: 10%;
}
h1{
    text-align: center;
}
#av{
    font-family: 'Pacifico', cursive;
    border-style: solid;
    border-radius: 15px ;
    background-color :#aaa69d ;
    
}
.side_bar{

}
.right-content{
    width: 90%;
}
.left-content{
    width: 10%;
    height: 300px;
    background-color: aquamarine;
}
.footer {
    /* position: fixed;
    left: 0;
    bottom: 0; */
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
  .img{
      width: 200px;
  }