.bar{
    color: tomato;
    height: 50px;
    background-color:gray ;
    font-family: 'Roboto', sans-serif;

}
#name{
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;

}
.left{
    float: left;
}
.right{
    float: right
}
li{
    list-style: none;
    float: left;
    margin: 5px;
    display:flex
    

}
.thingys{
    display: flex;
    justify-content: space-between;
    align-items: center;   

}
.box{
    background-color: cadetblue;
    padding: 20px;
    border-radius: 10%;
}